<section class="search">
  <form ng-submit="SongCtrl.filterBy(term)">
    <input type="text" id="filter-box" ng-model="term" placeholder="Filter" >
    <button id="search-submit" type="submit" value="submit">Search</button>
  </form>
</section>
<div id="song-list">
  <article class="tile" ng-repeat="song in SongCtrl.allSongs">
  	<a>
  		<div class="container">
  			<span class="title">{{song.title}}</span>
  			<span class="sub-title">{{song.artist}}</span>
  		</div>
  		<div class="bottom">
  				<i class="flaticon-{{role.instrument}}" ng-repeat="role in song.roles"></i>
  		</div>
  	</a>
  </article>
</div>
