<article class="song">
  <a href="/songs/<%=song.id%>"></a>
	<div class="song-container">
		 <span class="song-title"><%=song.title%></span>
	   <span class="artist"><%=song.artist%></span>
	</div>
  <div class="bottom">
  </div>
</a>
</article>
