<article class="tile">
<a href="/songs/<%=song.id%>">
	<div class="container">
		 <span class="title"><%=song.title%></span>
	   <span class="sub-title"><%=song.artist%></span>
	</div>
  <div class="bottom">
  </div>
</a>
</article>
