<!-- <section class="song">
	<div class="song-container">
		 <a class="song-title"><%=@song.title%></a>
	      <span class="artist"><%=@song.artist%></span>
	</div>
	<div class="roles">
		 <a href="#" class='instrument-icon'>👱</a>
	</div>
</section> -->
