<section id="main">
	<h2 class="sub-title"><%=@song.artist%></h2>
	<img src="https://i.scdn.co/image/c6963993e632c62ba1cdcb84deedccb33d73df99" alt="album-art" class="album-art">
	<form class="role-form" action="/roles" method="post">
		<% if @song.roles.any? %>
			<% @song.roles.each do |role| %>
				<%= partial :'partials/roles', locals: { role: role } %>
			<% end %>
		<% end %>
		<input type="submit" value="Submit">
	</form>
</section>
